.content-container .red-border {
    border: 1px solid red;
}

.content-container p.validation-text {
    color: red;
    font-size: 12px;
}

.content-container p.pad-top-5px {
    padding-top: 5px;
}

.post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 60px;
    margin-top: 24px;
    border-radius: 8px;
    background: rgb(55, 36, 56);
    background: linear-gradient(0deg, rgba(55, 36, 56, 0.5) 0%, rgba(55, 36, 56, 1) 100%);
    color: white;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #372438;
    cursor: pointer;
}

.post-btn:disabled {
    cursor: default;
}

.content-container form label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 24px;
}

.content-container form textarea,
.content-container form input {
    border-radius: 8px;
    padding: 4px 10px;
    border: none;
}

.content-container form input {
    min-width: 250px;
    min-height: 30px;
    font-size: 18px;
}

.content-container form input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: url('../icons/ri_calendar-2-fill.svg') no-repeat;
    width: 24px;
    height: 24px;
}